

{% extends "CSBlogBundle::layout.html.twig" %}

{% block title %}
    Ajouter un post - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Ajouter une recette</h2>



    <div class="well">

        {{ form(form) }}

    </div>
    <p>

        Attention : cette recette sera ajoutée directement

        sur la page d'accueil.

    </p>



    {#<h2>Ajouter une annonce</h2>#}

    {#{{ include("CSBlogBundle:Advert:form.html.twig") }}#}

    {#<div class="well">#}

        {#{{ form(form) }}#}

    {#</div>#}
    {#<p>#}
        {#<a href="{{ path('cs_blog_add', {'id': advert.id}) }}" class="btn btn-default">#}
            {#<i class="glyphicon glyphicon-chevron-left"></i>#}
            {#Retour à l'annonce#}
        {#</a>#}
    {#</p>#}
    {#{% if advert.image is not null %}#}
        {#<img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}">#}
    {#{% endif %}#}

{% endblock %}