{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "CSBlogBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block csblog_body %}

    <h2>Liste des recettes</h2>

    <ul>
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('cs_blog_view', {'id': advert.id}) }}">
                    {{ advert.title }}
                </a>
                par {{ advert.author }},
                le {{ advert.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Pas (encore !) de recettes</li>
        {% endfor %}
    </ul>

{% endblock %}