{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <style>

        body{background-image:url(http://princesse-guerriere.com/wp-content/uploads/2013/03/motif_3.jpg)}

        .jumbotron {
            font-size: 63px;
            font-family: cursive;
            background-color:#F2F0E3 !important;
        }

    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} Notre Blog [ Cissé & Soundrakumar]{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
</head>

<body>
<link rel="stylesheet" href="{{ asset('bundles/csblog/css/main.css') }}" type="text/css" />
<div class="page-content ">
    <div id="header" class="jumbotron">
        <h1>Bienvenue sur notre Blog [ Cissé & Soundrakumar]</h1>
        <p>
            Ce projet est conçu dans le cadre d'un projet scolaire à l'ESIEA.
        </p>
        {#<p>#}
            {#<a class="btn btn-primary btn-lg" href="http://www.esiea.fr/?gclid=CPPu7ay2q8kCFQnmwgodYJMPMQ">#}
                {#Notre école »#}
            {#</a>#}
        {#</p>#}
    </div>

    <div class="row">
        <div id="menu" class="col-md-3">
            {% if app.user is not null %}


            <ul class="nav nav-pills nav-stacked">
                <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                <li><a href="{{ path('cs_blog_home') }}">Accueil</a></li>
                <li><a href="{{ path('cs_blog_add') }}">Ajouter une annonce</a></li>
            </ul>
                <ul><li>Derniers posts</li><ul>
                {{ render(controller("CSBlogBundle:Advert:menu", {'limit': 3})) }}
            {% endif %}

        </div>
        <div id="content" class="page-content-wrapper">
            {% block body %}

            {% endblock %}
        </div>
    </div>

    <hr>

    <footer>
        <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
    </footer>
</div>

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>